In [1]:
# Note: ALWAYS USE PYTHON3. 
# MAKE SURE YOU GET PYTHON3 answers when you search google!

In [2]:
h = 20
print(h)

20

In [3]:
id(h)

4339967936

In [4]:
x = 20

In [5]:
id(x)

4339967936

In [6]:
h = 'little'
print(h)

little

In [7]:
id(h)

4341114952

In [8]:
g = "big"
print(g)

big

In [9]:
h+g

'littlebig'

In [10]:
g+h

'biglittle'

In [11]:
g + ' ' + h

'big little'

In [12]:
print(type(g))

<class 'str'>

In [13]:
h = 20
print(type(h))

<class 'int'>

In [14]:
f = 65.7
type(f)

float

In [15]:
20 + 45

65

In [16]:
20.5 + 45

65.5

In [17]:
20+ "20"  # ERROR

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [48]:
20 + int("20") #OK

40

In [49]:
20 + int("hello") #ERROR

ValueError: invalid literal for int() with base 10: 'hello'

In [50]:
t = int(9.5)
type(t)

int

In [51]:
item = str(9)
print(item, type(item))

9 <class 'str'>

In [52]:
type(item)

str

In [53]:
item

'9'

In [54]:
dir(item)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [55]:
dir()

['In',
 'Out',
 '_',
 '_10',
 '_11',
 '_14',
 '_15',
 '_16',
 '_20',
 '_21',
 '_23',
 '_26',
 '_28',
 '_3',
 '_32',
 '_37',
 '_38',
 '_39',
 '_48',
 '_5',
 '_50',
 '_52',
 '_53',
 '_54',
 '_7',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'alex_trebec',
 'exit',
 'f',
 'g',
 'get_ipython',
 'h',
 'i',
 'item',
 'k',
 'md',
 'my_list',
 'quit',
 'r',
 't',
 'x']

In [56]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [57]:
type(9)

int

In [58]:
dir(9)  

# 9 is an int OBJECT, with attributes and methods. We will ignore the dunder methods 
#(dunder => double underscore)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [59]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [60]:
faith = True

In [61]:
no_faith = False

In [62]:
True

True

In [63]:
type(faith)

bool

In [64]:
#float, str, int, bool 
# these are the 'basic' types

In [65]:
5 > 14  #This is a boolean expression. Evaluates to True or False.

False

In [66]:
greater = 5 > 4
print(greater)  # greater is of type bool

True

In [67]:
greater = 4
print(5 > 4)
print(greater)

True
4

In [68]:
4 == 5

False

In [69]:
h, g = 3,4

In [70]:
#Container Types: list, dict, tuple

In [71]:
# LIST

In [72]:
my_list = [] #empty list. Like arrays in other languages

In [73]:
type(my_list)

list

In [74]:
# IMPORTANT: Avoid using the word 'list' AS A VARIABLE NAME!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# NEVER USE RESERVED WORDS

In [75]:
#NEVER EVER EVER DO THIS list = [8,7,5,3]

In [76]:
print(my_list)

[]

In [77]:
my_list = [8,7,5,3]
my_list

[8, 7, 5, 3]

In [78]:
# use lists to hold other types. Lists can even contain other lists!

In [79]:
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [80]:
my_list = [45.7, 99.9]
my_list

[45.7, 99.9]

In [81]:
numbers = [5, 55.5]
print(numbers)

[5, 55.5]

In [82]:
gravy = ['strings', 5] #DONT DO THIS. Use lists to hold objects of the same type.

In [83]:
#Aside: Use tuples to hold related objects of different types  
alex_trebec = ('alex', 'trebec', '1313 Mockingbird Lane', 78)

In [84]:
my_list = [5, 55.5]
print(my_list)

[5, 55.5]

In [85]:
# The first item in a list is at index 0
my_list[0]

5

In [86]:
# The second item in a list is at index 1
my_list[1]

55.5

In [87]:
my_list[2] #ERROR. There is nothing at index 2

IndexError: list index out of range

In [88]:
#Global functions

print(my_list)
len(my_list)

[5, 55.5]

2

In [89]:
len(my_list) # my_list has two elements. length = 2

2

In [90]:
# tuples

t1 = 'Alex', 'Trebec', '79'
t2 = 6,7,8,9,10
print(t1)
print(t2)

('Alex', 'Trebec', '79')
(6, 7, 8, 9, 10)

In [91]:
type(t1)

tuple

In [92]:
t3 = 6,7
t3

(6, 7)

In [93]:
t3[0] , t3[1]

(6, 7)

In [94]:
t3 = 100, 200 # this works. It is ok to move the post-it note, t3, somewhere else.
t3

(100, 200)

In [95]:
t3[0] = 2700 # this does not work. You cannot change the elements of a tuple after creation.

TypeError: 'tuple' object does not support item assignment

In [96]:
my_list = ['hello', 'sean']
my_list

['hello', 'sean']

In [97]:
my_list[0] = 'sun' #this works. Totally ok to change the elements of a list at any time.
my_list

['sun', 'sean']

In [98]:
my_list[1] = 'shine'
my_list

['sun', 'shine']

In [99]:
my_list = ['dark', 'clouds']
my_list

['dark', 'clouds']

In [100]:
type(my_list)

list

In [101]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [102]:
# List Methods

In [103]:
my_list = ['dark', 'clouds']
my_list.append('above')
print(my_list)

['dark', 'clouds', 'above']

In [104]:
len(my_list)

3

In [105]:
my_list = [5,10]
my_list

[5, 10]

In [106]:
my_list.append([1,20,30,40])
my_list

[5, 10, [1, 20, 30, 40]]

In [107]:
my_list.append(100,200,300)

TypeError: append() takes exactly one argument (3 given)

In [108]:
my_list

[5, 10, [1, 20, 30, 40]]

In [109]:
my_list[0]

5

In [110]:
my_list[1]

10

In [111]:
my_list[2]

[1, 20, 30, 40]

In [112]:
my_list[2][0]

1

In [113]:
my_list[2][1]

20

In [114]:
my_list[2][2]

30

In [115]:
my_list[2][3]

40

In [116]:
my_list[2][4]

IndexError: list index out of range

In [117]:
my_list = ['hello', 'sean']
my_list

['hello', 'sean']

In [118]:
my_list.extend(["one", "two", "three"])
my_list

['hello', 'sean', 'one', 'two', 'three']

In [119]:
my_list = [1,2,3]
my_list.extend([-5,12,-16])

In [120]:
my_list

[1, 2, 3, -5, 12, -16]

In [121]:
my_list = [1,2,3]
my_list

[1, 2, 3]

In [122]:
my_list.extend([8,9,11])
print(my_list)

[1, 2, 3, 8, 9, 11]

In [123]:
my_list.append([100,200,300])
my_list

[1, 2, 3, 8, 9, 11, [100, 200, 300]]

In [124]:
my_list = [1, 5, 10]

In [ ]:
#danger
my_list.reverse() #reverse destroys and replaces the original list
print(my_list)

In [ ]:
my_list

In [ ]:
#danger
my_list = [333, 5, 10]
my_list.sort()
print(my_list) #sort destroys and replaces the original list

In [ ]:
result = my_list.sort()

In [25]:
print(result)

NameError: name 'result' is not defined

In [ ]:
type(result)

In [ ]:
8*result # None cannot be used in calculations. It will give you errors that are hard to understand.

In [ ]:
n * 8

In [ ]:
my_list = [45,6,333]

In [ ]:
#sorted makes a new list and leaves the original list unchanged

n2 = sorted(my_list)
n2

In [ ]:
id(my_list), id(n2) #ids are different, so they are different objects

In [ ]:
my_list

In [ ]:
sorted(my_list) #reverse defaults to False, so you don't need to pass it

In [ ]:
sorted(my_list, reverse=False) #same answer

In [ ]:
sorted(my_list, reverse=True) #if you pass reverse=True, sorts from biggest to smallest

In [ ]:
sorted #sorted is a global function

In [ ]:
my_list = [333, 5, 10]

In [ ]:
new_list = reversed(my_list)

In [ ]:
print(my_list) #original list unchanged

In [ ]:
new_list #python is LAZY. Does not want to reverse the list. 
# Python Made an object that tells it how to reverse the list instead.

In [ ]:
print(new_list)

In [ ]:
#reversed is a LAZY operator
print(new_list) #this makes an object, but list has not been reversed yet!

In [ ]:
my_list

In [ ]:
list(new_list)

In [ ]:
new_list[0]

In [ ]:
print(list(new_list)) #can see the result if you explicitly convert to a list

In [ ]:
my_list

In [26]:
r = range(10) # range is also LAZY.
r

range(0, 10)

In [27]:
print(r)

range(0, 10)

In [28]:
list(r) # converting to a list forces Python to evaluate the range.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
print(range(1,1000000000000000000000)) # range is a lazy data type.

range(1, 1000000000000000000000)

In [30]:
#python is a whitespace significant language
#indentation matters!
for i in range(10):
    print(i) # inside of the loop
print(100) #outside of the loop

0
1
2
3
4
5
6
7
8
9
100

In [31]:
for i in range(10):
print(i)  #whitespace is 100% necessary!

IndentationError: expected an indented block (<ipython-input-31-9d531a5c1e31>, line 2)

In [ ]:
for i in range(10):
    print(i)

In [ ]:
for i in range(9): #starts at zero if no default first value is given
    print(i)

In [ ]:
for i in range(1,12):
    print(i)

In [ ]:
for i in range(1,11,2):
    print(i)
print('done')

In [ ]:
for i in range(1,16,2): #start at 1, go up to but not including 11, count by 2s
    print(i)

In [ ]:
for i in reversed(range(10)):
    print(i)

In [ ]:
for i in range(10,0,-1):
    print(i)

In [ ]:
my_list = ['a', 'b', 'c', 'd']
for letter in my_list:
    print(letter)

In [ ]:
for number in range(0,3):
    print(number)

In [ ]:
for item in reversed(my_list): #reversed does not change the original list
    print(item)

In [ ]:
[3,4] + [5,6]

In [ ]:
my_list

In [ ]:
for index, item in enumerate(my_list): #makes my_list into a tuple
    print(index, item)

In [ ]:
for thing in enumerate('abcd'): #makes my_list into a tuple
    print(thing)

In [ ]:
my_str  = 'abcd'
my_str[0]

In [ ]:
l = ['abcd', 'efgh']

In [ ]:
for thing in enumerate(l): #makes my_list into a tuple
    print(thing)

In [ ]:
mt = 5,6 #mt is of type tuple even though it doesn't have parentheses!
ml = [10,11] #list
ml.extend(mt)
print(ml)

In [ ]:
# dictionaries

In [ ]:
d = {"a":1, "b":2, "c":3}
d

In [ ]:
d['a']

In [ ]:
# this is a comment
for key in d:
    print(key, d[key])

In [32]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [33]:
md = {'first':1, 'second':2, 'fourth':4}
print(md)

{'first': 1, 'second': 2, 'fourth': 4}

In [34]:
md = {'first':"The Matrix", 'second':"Superman", 'fourth':'Batman'}
print(md)

{'first': 'The Matrix', 'second': 'Superman', 'fourth': 'Batman'}

In [35]:
md['first'] = "Batman Begins"
print(md)

{'first': 'Batman Begins', 'second': 'Superman', 'fourth': 'Batman'}

In [36]:
md['second'] = None

In [37]:
md.items()

dict_items([('first', 'Batman Begins'), ('second', None), ('fourth', 'Batman')])

In [38]:
md.keys()

dict_keys(['first', 'second', 'fourth'])

In [39]:
md.values()

dict_values(['Batman Begins', None, 'Batman'])

In [40]:
for k in md: #goes through the keys one at a time
    print(k,md[k])

first Batman Begins
second None
fourth Batman

In [41]:
#changes the value associated with the key 'third'
md['third'] = "Ralph Breaks the Internet"
for k in md:
    print(k,md[k])

first Batman Begins
second None
fourth Batman
third Ralph Breaks the Internet

In [42]:
#changes the value associated with the key 'first'
md['first'] = ("Batman Begins", 3) 
print(md)

{'first': ('Batman Begins', 3), 'second': None, 'fourth': 'Batman', 'third': 'Ralph Breaks the Internet'}

In [43]:
md['second']

In [44]:
#if elif else
x = -5

if x > 5:
    print("greater than 5")
    
elif x == 5:
    print("Equal to 5")
else:
    print("less than 5")

less than 5

In [45]:
x = 55

if x > 5:
    print("greater than 5")

greater than 5

In [46]:
x = -5

if x > 5:
    print("greater than 5")
    
else:
    print("less than 5")

less than 5

In [47]:
x = 5

if x > 5:
    print("greater than 5")
elif x == 5:
print("Equal to 5")

IndentationError: expected an indented block (<ipython-input-47-0ecedbbdf319>, line 6)

In [ ]:
def myfunc():
    print("ran the function")

In [ ]:
g = myfunc()
type(g)

In [ ]:
def myfunc():
    print("ran the function")
    return "done"

In [ ]:
g = myfunc()
type(g)

In [ ]:
myfunc()

In [ ]:
def f():
    print("ran the function")

In [ ]:
myvar = f()
myvar

In [ ]:
type(myvar)

In [ ]:
def myfunc2(): #correct way to write function that doesn't do anything
    pass

In [ ]:
def myfunc3(): #not valid

In [ ]:
def myfunc4(val):
    return val+val

In [ ]:
myfunc4("hello")

In [ ]:
def myfunc5(val):
    assert type(val) == int
    return val+val
myfunc5('hello')

In [ ]:
def myfunc4(val="hello there"):
    print(val)

myfunc4()

In [ ]:
myfunc4("hello")

In [ ]:
# function can return a value
def myfunc5(val="hello there"):
    return val

var = myfunc5()
var2 = myfunc5("spike")
print(var, var2)

In [ ]:
#functions can return any number of different values as a tuple
def myfunc6(val="hello there"):
    length = len(val) 
    return length, val    # length, val is a tuple

result = myfunc6("Birdbox")
print(result)

references: 

https://github.com/jakevdp/WhirlwindTourOfPython
https://snakify.org/en/